.nav-center{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    display: flex;
    flex-wrap: wrap;



}

  
@media screen ~ (max-width: 425px){
    .text{
        font-size: 10px;
    }
    
}